# wavetable synth pcf

# Config pins
#set_io CDONE 65
#set_io CRESET_B 66

# Clock
set_io clk 21   # 25 MHz clock

# SPI
set_io S_SCK 102
set_io S_MOSI 101
set_io S_CS 106
set_io S_MISO 104

set_io R_SCK 70
set_io R_MOSI 68
set_io R_CS 71

# Subs
set_io SUB_OUT[0] 125
set_io SUB_OUT[1] 130
set_io SUB_OUT[2] 134

# Noise
set_io NOISE_OUT 135

# PWM
set_io PWM_OUT[0] 12
set_io PWM_OUT[1] 15 
set_io PWM_OUT[2] 19
set_io PWM_OUT[3] 17
set_io PWM_OUT[4] 23

# DACs
set_io OUT0[0] 1
set_io OUT0[1] 2
set_io OUT0[2] 3
set_io OUT0[3] 4
set_io OUT0[4] 7
set_io OUT0[5] 8
set_io OUT0[6] 9
set_io OUT0[7] 10
set_io OUT0[8] 25
set_io OUT0[9] 26
set_io OUT0[10] 28
set_io OUT0[11] 29
set_io OUT0[12] 31
set_io OUT0[13] 32
set_io OUT0[14] 33
set_io OUT0[15] 34

set_io OUT1[0] 110
set_io OUT1[1] 112
set_io OUT1[2] 113
set_io OUT1[3] 114
set_io OUT1[4] 115
set_io OUT1[5] 116
set_io OUT1[6] 117
set_io OUT1[7] 118
set_io OUT1[8] 136
set_io OUT1[9] 137
set_io OUT1[10] 138
set_io OUT1[11] 139
set_io OUT1[12] 141
set_io OUT1[13] 142
set_io OUT1[14] 143
set_io OUT1[15] 144

set_io OUT2[0] 63
set_io OUT2[1] 62
set_io OUT2[2] 61
set_io OUT2[3] 60
set_io OUT2[4] 56
set_io OUT2[5] 55
set_io OUT2[6] 48
set_io OUT2[7] 47
set_io OUT2[8] 45
set_io OUT2[9] 44
set_io OUT2[10] 43
set_io OUT2[11] 42
set_io OUT2[12] 41
set_io OUT2[13] 39
set_io OUT2[14] 38
set_io OUT2[15] 37
